.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 10px auto;
    padding: 50px 0px 50px 0px;
    border-bottom:  1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}



body {
    padding: 50px 0px 0px 0px;     /*so that navigation bar doesnt cover the body or content below it*/
    z-index: 0;                    /*z index gives the stacking orrder...eg higher z index will be upper or overlapped on lower z-index:*/
}

.tab-content{
    border-left: 1px solid #ddd;
    border right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

